<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:/BackLogs/internal_logs/internallog.txt">

	<targets>
		<target name="logError" xsi:type="File"
				fileName="c:/BackLogs/Security/Error/${shortdate}_Logs.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"
				maxArchiveFiles="40"/>
		<target name="logTrace" xsi:type="File"
				fileName="c:/BackLogs/Security/Trace/${shortdate}_Logs.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"
				maxArchiveFiles="40"/>
	</targets>

	<rules>
		<logger name="logTrace" minlevel="Trace" writeto="logTrace" final="true"/>
		<logger name="logError" minlevel="Debug" writeTo="logError" final="true"/>
	</rules>
</nlog>